fastapi[all]
llama-index
chromadb
sqlalchemy
pandas
uvicorn
mysql-connector-python
openai
ollama
prettytable
#psycopg2-binary
pgvector==0.2.5
langchain-core
langchain
langchain_postgres
psycopg[binary,pool]
langchain-huggingface
langchain-text-splitters